@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,600&family=Inter&display=swap');
@import url(//db.onlinewebfonts.com/c/14c0006cfad2ad4520ec60c745a7f460?family=SpumoniLPW01-Regular);
:root{
    --nav-gradient: linear-gradient(to left, #9D9A76, #8D7747);
    --shadow: rgba(0,0,0,0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Inter', sans-serif;
}

/*Header*/
.header-section{
    background: var(--nav-gradient);
    box-shadow: 0px 0px 10px 0px var(--shadow);
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
}

.logo-ghibli{
    width: 30px;
    height: 30px;
}

/*Slogan*/
.slogan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/slogan_img.jpg);
    opacity: 80%;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 475px;
    position: relative;
}

.slogan-container h1{
    color: white;
    -webkit-text-stroke: 0.1px #6D5741;
    font-family: "SpumoniLPW01-Regular";
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3px;
}

.slogan-container p{
    color: white;
    font-size: 15px;
    font-weight: 700;
}

/*Cards*/
.cards-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
}


.film-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.film-card{
    border-radius: 5px;
    width: 150px;
    height: 285px;
    margin-left: 5px;
    margin-bottom: 15px;
    background-color: #C3A97F;
    box-shadow: 0px 0px 10px 0px var(--shadow);
}

.film-card img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.text-card{
    color:white;
    font-size: 10px;
    margin: 5px 0px;
    padding: 0 10px;
}

.bxs-star{
    color: #ffd60a;
    font-size: 10px;
}

.select-container{
    background: var(--nav-gradient);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.select-directors{
    border-radius: 5px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .header-section{
        height: 65px;
    }
        
    .list-options{
        list-style: none;
    }
    
    .list-options a{
        display: flex;
        align-items: center;
        padding: 25px;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 800;
    }

    .slogan-container{
        background-attachment: fixed;
    }

    .film-card{
        width: 250px;
        height: 450px;
    }

    .film-card img{
        height: 350px;
    }

    .text-card{
        font-size: 15px;
    }

    .bxs-star{
        font-size: 20px;
    }
}



